@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');

body{
    overflow-x: hidden;
    font-family: 'Playfair Display SC', serif;
    color: slategray;
}
h1{
    overflow-x: hidden;
    font-family: 'Playfair Display SC', serif;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
}
.navbar{
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: rgba(0,0,0,.6)!important;

}

.navbar-brand img{
    height: 2rem;
}

.navbar-brand li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.carousel-item {
    height: 100vh;
}
.carousel-caption{
    position: absolute;
    top: 38%;

}
.carousel-caption h1{
    font-weight: 700;
    font-size: 7em;
    color: black;
    opacity: 0.8;
}
.carousel-caption h2{
    font-weight: 700;
    font-size: 9em;
    color: black;
    opacity: 0.7;
}